@charset "UTF-8";
/*!
Auteur: Eddy Martin
Description: Gabarit de base permettant d'explorer Sass et différents techniques CSS
Version: 1.0.0
License: GNU General Public License v2 or later

*/
/*--------------------------------------------------------------
>>> LISTE DES FICHIERS SCSS IMPORTÉS 
----------------------------------------------------------------
# Variables
# Layout
# Element
# Menu
# Pied-page
----------------------------------------------------------------
# Horaire
--------------------------------------------------------------*/
body {
  background-color: #d0d4e7;
  font-family: 'Comfortaa', cursive;
  font-size: 0.4em;
  color: white;
}

body header {
  background-color: #2d2d63;
  width: 100vw;
}

body header h1 {
  margin: 0 10%;
  padding-top: 2%;
}

body header h3 {
  margin-left: 10%;
  padding-bottom: 1%;
}

body header p {
  margin-left: 10%;
}

body #horaire {
  width: 90vw;
  height: 80vh;
  margin: 0 5%;
  display: -ms-inline-grid;
  display: inline-grid;
  -ms-grid-columns: 10% (18%)[5];
      grid-template-columns: 10% repeat(5, 18%);
  -ms-grid-rows: 10% auto;
      grid-template-rows: 10% auto;
}

body #horaire div {
  background-color: #4a4a64;
  border: 2px solid #d0e2e7;
  text-align: center;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #horaire .huit {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 2;
  grid-row: 2;
}

body #horaire .neuf {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 3;
  grid-row: 3;
}

body #horaire .dix {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 4;
  grid-row: 4;
}

body #horaire .onze {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 5;
  grid-row: 5;
}

body #horaire .douze {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 6;
  grid-row: 6;
}

body #horaire .treize {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 7;
  grid-row: 7;
}

body #horaire .quatorze {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 8;
  grid-row: 8;
}

body #horaire .quinze {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 9;
  grid-row: 9;
}

body #horaire .seize {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 10;
  grid-row: 10;
}

body #horaire .dix-sept {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 11;
  grid-row: 11;
}

body #horaire .dix-huit {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 12;
  grid-row: 12;
}

body #horaire .ProjetFinEtude {
  background-color: #607dbd;
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 7;
  -ms-grid-row-span: 5;
  grid-row: 7/12;
}

body #horaire .ProjetFinEtude2 {
  background-color: #607dbd;
  -ms-grid-column: 5;
  grid-column: 5;
  -ms-grid-row: 2;
  -ms-grid-row-span: 4;
  grid-row: 2/6;
}

body #horaire .prog {
  background-color: #3c5d83;
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 8;
  -ms-grid-row-span: 4;
  grid-row: 8/12;
}

body #horaire .prog2 {
  background-color: #3c5d83;
  -ms-grid-column: 5;
  grid-column: 5;
  -ms-grid-row: 8;
  -ms-grid-row-span: 4;
  grid-row: 8/12;
}

body #horaire .stage {
  -ms-grid-column: 4;
  grid-column: 4;
  -ms-grid-row: 5;
  grid-row: 5;
}

body #horaire .afterEffects {
  background-color: #866ead;
  -ms-grid-column: 4;
  grid-column: 4;
  -ms-grid-row: 7;
  -ms-grid-row-span: 3;
  grid-row: 7/10;
}

body #horaire .afterEffects2 {
  background-color: #866ead;
  -ms-grid-column: 6;
  grid-column: 6;
  -ms-grid-row: 7;
  -ms-grid-row-span: 3;
  grid-row: 7/10;
}

body #horaire .portfolio {
  -ms-grid-column: 4;
  grid-column: 4;
  -ms-grid-row: 5;
  grid-row: 5;
}

@media only screen and (min-width: 768px) {
  body {
    font-size: 0.6em;
  }
}

@media only screen and (min-width: 992px) {
  body {
    font-size: 0.8em;
  }
}
/*# sourceMappingURL=style.css.map */