body{
    background-color: rgb(208, 226, 231);
    font-family: sans-serif;
    color: white;

    header{
        background-color: rgb(78, 78, 167);

        h1{
            margin: 0 10%;
            padding-top: 2%;
        }
        h3{
            margin-left: 10%;
            padding-bottom: 1%;
        }
    }
    
    #horaire{
        width: 90vw;
        height: 80vh;
        margin: 0 5%;
        display: inline-grid;
        grid-template-columns: 10% repeat(5, 18%);
        grid-template-rows: 10% auto;

        div{
            background-color: rgb(74, 74, 100);
            border: 2px solid rgb(208, 226, 231);
            text-align: center;
        }
    }
    
}

