body{
    background-color: rgb(208, 212, 231);
    font-family: 'Comfortaa', cursive;
    font-size: 0.4em;
    color: white;

    header{
        background-color: rgb(45, 45, 99);
        width: 100vw;

        h1{
            margin: 0 10%;
            padding-top: 2%;
        }
        h3{
            margin-left: 10%;
            padding-bottom: 1%;
        }
        p{
            margin-left: 10%;
        }
    }
    
    #horaire{
        width: 90vw;
        height: 80vh;
        margin: 0 5%;
        display: inline-grid;
        grid-template-columns: 10% repeat(5, 18%);
        grid-template-rows: 10% auto;

        div{
            background-color: rgb(74, 74, 100);
            border: 2px solid rgb(208, 226, 231);
            text-align: center;
            display: grid;
            align-items: center;
        }
        .huit{
            grid-column: 1;
            grid-row: 2;
        }
        .neuf{
            grid-column: 1;
            grid-row: 3;
        }
        .dix{
            grid-column: 1;
            grid-row: 4;
        }
        .onze{
            grid-column: 1;
            grid-row: 5;
        }
        .douze{
            grid-column: 1;
            grid-row: 6;
        }
        .treize{
            grid-column: 1;
            grid-row: 7;
        }
        .quatorze{
            grid-column: 1;
            grid-row: 8;
        }
        .quinze{
            grid-column: 1;
            grid-row: 9;
        }
        .seize{
            grid-column: 1;
            grid-row: 10;
        }
        .dix-sept{
            grid-column: 1;
            grid-row: 11;
        }
        .dix-huit{
            grid-column: 1;
            grid-row: 12;
        }
        .ProjetFinEtude{
            background-color: rgb(96, 125, 189);
            grid-column: 2;
            grid-row: 7/12;
        }
        .ProjetFinEtude2{
            background-color: rgb(96, 125, 189);
            grid-column: 5;
            grid-row: 2/6;
        }
        .prog{
            background-color: rgb(60, 93, 131);
            grid-column: 3;
            grid-row: 8/12;
        }
        .prog2{
            background-color: rgb(60, 93, 131);
            grid-column: 5;
            grid-row: 8/12;
        }
        .stage{
            grid-column: 4;
            grid-row: 5;
        }
        .afterEffects{
            background-color: rgb(134, 110, 173);
            grid-column: 4;
            grid-row: 7/10;
        }
        .afterEffects2{
            background-color: rgb(134, 110, 173);
            grid-column: 6;
            grid-row: 7/10;
        }
        .portfolio{
            grid-column: 4;
            grid-row: 5;
        }
    }
    
}
@media only screen and (min-width: 768px) {
    body{
        font-size: 0.6em;
    }            
}
@media only screen and (min-width: 992px) {
    body{
        font-size: 0.8em;
    }         
}

